<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.tools.emf.ui.scripting">
      <scripting
            class="org.eclipse.e4.tools.emf.ui.script.js.JavaScriptSupport"
            label="JavaScript">
      </scripting>
   </extension>

</plugin>
