<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="css.spy"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="false"
            class="org.eclipse.e4.tools.css.spy.SpyInstaller">
      </processor>
   </extension>

</plugin>
