<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.internalTweaklets">
      <tweaklet
            definition="org.eclipse.ui.internal.tweaklets.PreferencePageEnhancer"
            id="org.eclipse.e4.tools.orion.css.editor.tweaklet"
            implementation="org.eclipse.e4.tools.orion.css.editor.CSSEditorPreferences"
            name="Orion CSS Editor">
      </tweaklet>
   </extension>

</plugin>
