<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.eclipse.e4.tools.emf.liveeditor.ModelProcessor">
      </processor>
   </extension>
   <extension
         point="org.eclipse.e4.tools.emf.ui.scripting">
      <scripting
            class="org.eclipse.e4.tools.emf.liveeditor.JavaScriptSupport"
            label="JavaScript">
      </scripting>
   </extension>

</plugin>
